*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header{
    background-color: blue;
      display:flex;
      align-items: center;
      justify-content:center;
      padding: 20px;
   
}
.text-a{
    margin:10px;
    text-decoration: none;
    color:white;
   
}
.text{
    margin-right:160px;
}
.logo{
    margin-right: 120px;  
}
.button-accedi{
    text-decoration: none;
    border-radius: 10%;
    padding:10px;
    background-color: white;
    color: black;
}
.jumbo{
    width:100%;
    position:relative;
}
.text-main{
   
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:absolute;
    top:100px;
    left:500px;
    right:500px;
    bottom:100px;
    font-size: 10px;
  

}

.button-black{
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10%;
    padding:10px;
}

.button-white{
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 10%;
    padding:10px;
    margin-left:10px;

}
.lorem{
    margin-top:20px;
    margin-bottom:20px;
}
.img-text{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

.text1{
    margin:100px;
    display:block;
    font-size: 10px;

}
.title{
    margin:100px;
    display: block;
}
.text-img{
    display:flex;
    justify-content: center;
    margin-top: 20px;

}
.container{
    width: 90%;
}
.img-text{
    margin-top:70px;
}
.text-img{
    margin-top:70px;
}
