*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header{
    background-color: blue;
      display:flex;
      align-items: center;
      justify-content:center;
      padding: 20px;
   
}
.text-a{
    margin:10px;
    text-decoration: none;
    color:white;
   
}
.text{
    margin-right:160px;
}
.logo{
    margin-right: 120px;  
}
.button{
    text-decoration: none;
    border-radius: 10%;
    padding:10px;
    background-color: white;
    color: black;
}

